.nav-div {
    padding-left: 1rem;
    padding-right: 1rem;
}

.todo-list {
    margin-bottom: 1rem;
}

.todo-list.completed span {
    text-decoration: line-through;
}

.todo-list label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 1rem;
    background: #dcfff3;
}

.todo-list i {
    z-index: 2;
}
